#venv folders
losNlosEnv/
linux_virt_env/
win_virt_env/
raw_data/
mac_virt_env/



# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*/__pycache__/
**/__pycache__/*
src/**/__pycache__/
